@charset "UTF-8";

#t_upper_contents {
	background-color: #05C3A7;
	height:100px;
	width: 100%;
}

#t_upper_content1 {
	font-size: 25px;
	color: white;
	position: absolute;
	margin: 30px;
}

#t_contents {
	position:absolute;
	left:50%;
	transform: translate(-50%,0%);
	font-size: 16px;
	margin-top: 80px;
}

#t_title {
	font-weight: bold;
}

.middlebutton	{
	float:right;
	margin-left:10px;
}
#t_reply{
	margin-top:110px
}
#footer0 {
	position:absolute;
	bottom: -150%;
}

